dataset/n8n-workflow/workflow.json
{
  "name": "Loan_Approval_Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        96
      ],
      "id": "838eafda-f9d8-4a5b-9ffd-35d6f0922a21",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo",
          "mode": "list",
          "cachedResultName": "Copy of Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 35576617,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo/edit#gid=35576617"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        96
      ],
      "id": "f999d44a-5722-4e3a-b2b2-9810873a0801",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9qSVYhEjtoxhSntS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const credit = Number($json.Credit_Score);\nconst missed = Number($json.Missed_Payments);\nconst dti = Number($json.Debt_to_Income_Ratio);\n\nlet decision = \"\";\nlet risk = \"\";\n\nif (credit >= 750 && missed === 0 && dti <= 35) {\n  decision = \"Approved\";\n  risk = \"Low\";\n} else if (credit >= 650 && credit < 750 && missed <= 2 && dti <= 50) {\n  decision = \"Review\";\n  risk = \"Medium\";\n} else {\n  decision = \"Rejected\";\n  risk = \"High\";\n}\n\nreturn {\n  json: {\n    ...$json,\n    Decision: decision,\n    Risk_Level: risk\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        96
      ],
      "id": "11d475f8-34f0-4c7a-9e5c-48bfd457d0a5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3202f01c-2af8-447e-bf0a-447db49101c7",
              "leftValue": "={{ $json.Decision }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "45989a7f-a124-48f8-8fa2-c07ed1957643",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "ishan2595.mba25fin@chitkara.edu.in",
        "subject": "Loan Approved",
        "message": "=Dear {{ $json.Applicant_Name }},  Congratulations!  Your loan application has been approved.  Loan Amount: ₹{{ $json.Loan_Amount }}  Regards, NeoFin Bank",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "a2bddc41-6652-4b16-b42e-b853945c06c4",
      "name": "Send a message",
      "webhookId": "b2f006c4-7aa1-49b1-a53b-06fd906580f6",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "shmaPqdxZ3NIDsrg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo",
          "mode": "list",
          "cachedResultName": "Copy of Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 35576617,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo/edit#gid=35576617"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Loan_ID": "={{ $('Code in JavaScript').item.json.Loan_ID }}",
            "Loan_Status": "approved ",
            "Risk_Level": "low",
            "decision": "Applicant classified as low credit risk Strong repayment capacity identified Excellent credit history verified Debt-to-Income ratio within acceptable limits Eligible for automatic loan approval No manual intervention required"
          },
          "matchingColumns": [
            "Loan_ID"
          ],
          "schema": [
            {
              "id": "Loan_ID",
              "displayName": "Loan_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employment_Type",
              "displayName": "Employment_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Annual_Salary",
              "displayName": "Annual_Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_Loan",
              "displayName": "Existing_Loan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount",
              "displayName": "Loan_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan Purpose",
              "displayName": "Loan Purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Tenure_Months",
              "displayName": "Loan_Tenure_Months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City.1",
              "displayName": "City.1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_History_Years",
              "displayName": "Credit_History_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_EMI",
              "displayName": "Existing_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Savings_Balance",
              "displayName": "Savings_Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Missed_Payments",
              "displayName": "Missed_Payments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monthly_Income",
              "displayName": "Monthly_Income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employment_Years",
              "displayName": "Employment_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Debt_to_Income_Ratio",
              "displayName": "Debt_to_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_to_Income_Ratio",
              "displayName": "Loan_to_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Residence_Years",
              "displayName": "Residence_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number_of_Active_Loans",
              "displayName": "Number_of_Active_Loans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Card_Outstanding",
              "displayName": "Credit_Card_Outstanding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Previous_Defaults",
              "displayName": "Previous_Defaults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bank_Account_Age_Years",
              "displayName": "Bank_Account_Age_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Property_Ownership",
              "displayName": "Property_Ownership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dependents",
              "displayName": "Dependents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Collateral_Value",
              "displayName": "Collateral_Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FOIR_Percent",
              "displayName": "FOIR_Percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Status",
              "displayName": "Loan_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "99a8f5cc-c999-4f9e-b9c5-d17db2b78549",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9qSVYhEjtoxhSntS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "274585ee-8aa3-4264-98fd-2e23a1276e30",
              "leftValue": "={{ $json.Decision }}",
              "rightValue": "Review",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        192
      ],
      "id": "604457e0-0016-405f-a7b9-f5fa9c2497c6",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo",
          "mode": "list",
          "cachedResultName": "Copy of Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 35576617,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo/edit#gid=35576617"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Loan_ID": "={{ $('Code in JavaScript').item.json.Loan_ID }}",
            "Loan_Status": "rev",
            "Risk_Level": "med",
            "decision": "Applicant classified as medium credit risk Additional verification required Credit profile requires manual assessment Income and repayment capacity need further review Escalated to loan officer for approval Pending final decision"
          },
          "matchingColumns": [
            "Loan_ID"
          ],
          "schema": [
            {
              "id": "Loan_ID",
              "displayName": "Loan_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employment_Type",
              "displayName": "Employment_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Annual_Salary",
              "displayName": "Annual_Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_Loan",
              "displayName": "Existing_Loan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount",
              "displayName": "Loan_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan Purpose",
              "displayName": "Loan Purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Tenure_Months",
              "displayName": "Loan_Tenure_Months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City.1",
              "displayName": "City.1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_History_Years",
              "displayName": "Credit_History_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_EMI",
              "displayName": "Existing_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Savings_Balance",
              "displayName": "Savings_Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Missed_Payments",
              "displayName": "Missed_Payments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monthly_Income",
              "displayName": "Monthly_Income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employment_Years",
              "displayName": "Employment_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Debt_to_Income_Ratio",
              "displayName": "Debt_to_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_to_Income_Ratio",
              "displayName": "Loan_to_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Residence_Years",
              "displayName": "Residence_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number_of_Active_Loans",
              "displayName": "Number_of_Active_Loans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Card_Outstanding",
              "displayName": "Credit_Card_Outstanding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Previous_Defaults",
              "displayName": "Previous_Defaults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bank_Account_Age_Years",
              "displayName": "Bank_Account_Age_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Property_Ownership",
              "displayName": "Property_Ownership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dependents",
              "displayName": "Dependents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Collateral_Value",
              "displayName": "Collateral_Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FOIR_Percent",
              "displayName": "FOIR_Percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Status",
              "displayName": "Loan_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        144
      ],
      "id": "c87868c0-14f7-410d-b2c9-afbc3cc732d3",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9qSVYhEjtoxhSntS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ishan2595.mba25fin@chitkara.edu.in",
        "subject": "Loan Application Under Review",
        "message": "=Dear {{ $('Code in JavaScript').item.json.Applicant_Name }},  Your loan application is currently under review.  A loan officer will review your application and contact you shortly.  Regards, NeoFin Bank",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        144
      ],
      "id": "5fa168f4-26d5-4ec2-ac29-244bc4c309ab",
      "name": "Send a message1",
      "webhookId": "b20d7ebe-926e-43b6-bfc7-dd2994cda0bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "shmaPqdxZ3NIDsrg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo",
          "mode": "list",
          "cachedResultName": "Copy of Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 35576617,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdPlXTIUcQ3Q_9lpcz3jqXv1gUnk1jv-MuXh1oAkTQo/edit#gid=35576617"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Loan_Status": "rejected",
            "Risk_Level": "high",
            "decision": "Applicant classified as high credit risk Credit score below approval threshold Repayment capacity considered insufficient Multiple risk indicators detected Loan application does not meet approval criteria Application rejected automatically",
            "Loan_ID": "={{ $('Code in JavaScript').item.json.Loan_ID }}"
          },
          "matchingColumns": [
            "Loan_ID"
          ],
          "schema": [
            {
              "id": "Loan_ID",
              "displayName": "Loan_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applicant_Name",
              "displayName": "Applicant_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employment_Type",
              "displayName": "Employment_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Annual_Salary",
              "displayName": "Annual_Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Score",
              "displayName": "Credit_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_Loan",
              "displayName": "Existing_Loan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Amount",
              "displayName": "Loan_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan Purpose",
              "displayName": "Loan Purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Tenure_Months",
              "displayName": "Loan_Tenure_Months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City.1",
              "displayName": "City.1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_History_Years",
              "displayName": "Credit_History_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existing_EMI",
              "displayName": "Existing_EMI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Savings_Balance",
              "displayName": "Savings_Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Missed_Payments",
              "displayName": "Missed_Payments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monthly_Income",
              "displayName": "Monthly_Income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employment_Years",
              "displayName": "Employment_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Debt_to_Income_Ratio",
              "displayName": "Debt_to_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_to_Income_Ratio",
              "displayName": "Loan_to_Income_Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Residence_Years",
              "displayName": "Residence_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number_of_Active_Loans",
              "displayName": "Number_of_Active_Loans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Credit_Card_Outstanding",
              "displayName": "Credit_Card_Outstanding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Previous_Defaults",
              "displayName": "Previous_Defaults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bank_Account_Age_Years",
              "displayName": "Bank_Account_Age_Years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Property_Ownership",
              "displayName": "Property_Ownership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dependents",
              "displayName": "Dependents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Collateral_Value",
              "displayName": "Collateral_Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FOIR_Percent",
              "displayName": "FOIR_Percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Loan_Status",
              "displayName": "Loan_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        288
      ],
      "id": "dea2f6de-0177-4adf-8b9e-bafbb9169835",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9qSVYhEjtoxhSntS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ishan2595.mba25fin@chitkara.edu.in",
        "subject": "Loan Application Status",
        "message": "=Dear {{ $('Code in JavaScript').item.json.Applicant_Name }},  After reviewing your application, we are unable to approve your loan request at this time.  Thank you for choosing NeoFin Bank.  Regards, NeoFin Bank",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        288
      ],
      "id": "05c5927a-6db7-4040-a666-e8e86a697036",
      "name": "Send a message2",
      "webhookId": "0b6d24cd-343d-4360-812d-bc05a1aeb96d",
      "credentials": {
        "gmailOAuth2": {
          "id": "shmaPqdxZ3NIDsrg",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "13601a43-2fc3-4188-81ff-8cfd3df3a4ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d5b05308f22f07b6c989fe9a534e6d3989ccf1db411acc335e49e5bb811b58c"
  },
  "id": "Rx0HPf4bRQpFNIkn",
  "tags": []
}
